@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-family: "Mulish", sans-serif;
}
/* header */
header {
  padding: 55px;
  padding-bottom: 0;
}
nav.menu {
  display: flex;
  align-items: center;
}
nav.menu a {
  text-decoration: none;
  color: #333;
}
a.menu_logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-indent: 20px;
}
.menu_link,
.menu_link-active {
  padding: 10px;
  margin: 10px;
}
.menu_link-active {
  font-weight: bold;
}
/* welcome */
.welcome {
  padding: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}
.welcome_text {
  max-width: 450px;
}
.welcome_header {
  font-size: 48px;
  margin-bottom: 20px;
}
.welcome_button {
  margin-top: 20px;
  display: inline-block;
  padding: 20px 60px;
  background-color: #458ff8;
  color: #fff;
  border-radius: 55px;
  text-decoration: none;
}
.welcome_image {
  max-width: 500px;
  display: flex;
  margin-left: auto;
}
/* our services */
.our_services {
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.our_services p {
  color: #7d7987;
  font-weight: 300;
  font-size: 16px;
}
.our_services_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
.our_services_top h1 {
  padding: 20px;
  margin: 20px;
  border-bottom: 2px solid #333;
}
.our_services_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.service_card {
  width: 350px;
  padding: 40px;
  margin: 35px;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  background-color: #fff;
}
.service_card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.service_card img {
  margin-bottom: 20px;
}
.more-btn {
  padding: 20px 50px;
  border-radius: 55px;
  color: #458ff6;
  text-decoration: none;
  border: 1px solid #458ff6;
  display: inline-block;
  margin-top: 37px;
}
.more-btn img {
  margin-left: 10px;
}
/* info,download */
.info,
.download {
  padding: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 120px;
}
.info_image,
.download_image {
  max-width: 500px;
}
.info_text,
.download_text {
  max-width: 450px;
}
.info_text h1,
.download_text h1 {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #333;
}
/* latest articles */
.latest_articles {
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}
.la_top {
  text-align: center;
  max-width: fit-content;
  border-bottom: 2px solid #333;
  padding: 20px;
  margin-bottom: 40px;
}
.la_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.article_card {
  width: 347px;
  border-radius: 20px;
  margin: 33px;
  background-color: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.article_card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.article_card_text {
  padding: 33px;
}
.article_card_text h3 {
  margin-bottom: 20px;
}
.article_card_text p {
  font-size: 16px;
  font-weight: 300;
}
.article_link {
  margin-top: 20px;
  display: inline-block;
  color: #458ff6;
  text-decoration: none;
}
.article_link img {
  margin-left: 10px;
}
.video {
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.video_top {
  border-bottom: 2px solid #333;
  padding: 20px;
  margin-bottom: 40px;
}
.video_content iframe {
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  min-width: 800px;
  min-height: 450px;
}
.check_mark {
  height: 15px;
  margin-right: 5px;
}
/* pricing */
.pricing {
  padding: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.pricing_top {
  border-bottom: 2px solid #333;
  padding: 20px;
  margin-bottom: 40px;
}
.pricing_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.pricing_card {
  padding: 40px;
  margin: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.pricing_card p {
  font-size: 16px;
  font-weight: 300;
  color: #777;
}
.pricing_number {
  font-size: 48px;
  font-weight: 700;
}
.pricing_card ul {
  margin: 10px;
  margin-left: 0;
  list-style: none;
  font-size: 16px;
  font-weight: 300;
}
.pricing_card .more-btn {
  margin-top: 10px;
}
.premium_card {
  border: 1px solid #fb9bd2;
}
.premium_card ul li img {
  margin-right: 10px;
}
.premium-btn {
  padding: 20px 60px;
  display: inline-block;
  border-radius: 55px;
  text-decoration: none;
  font-weight: 700;
  color: #fb9bd2;
  border: 1px solid #fb9bd2;
  box-shadow: 0px 0px 20px 1px rgba(251, 155, 210, 0.15);
  margin-top: 15px;
  cursor: pointer;
  transition: 300ms;
}
.premium-btn:hover {
  background-color: #fb9bd2;
  color: #fff;
}
.contact {
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_top {
  border-bottom: 2px solid #333;
  padding: 20px;
  margin-bottom: 40px;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 100px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(251, 155, 210, 0.15);
}
.input_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.input_group label {
  font-size: 16px;
  color: #458ff6;
  padding: 10px 0;
  padding-top: 30px;
}
.input_group input {
  padding: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  border-radius: 6px;
  border: 2px solid #458ff6;
}
.input_group input::placeholder {
  color: #999;
}
.input_group button[type="submit"] {
  margin: 30px;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: bold;
  background-color: #fb9bd2;
  border: 1px solid #fb9bd2;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 300ms;
  display: flex;
  align-items: center;
}
.input_group button[type="submit"] img {
  margin-left: 10px;
}
